{% extends 'base.html' %}
{% block content %}
<div class="row g-4">
  <div class="col-lg-3">
    <div class="card border-0 shadow-sm rounded-4 sticky-top" style="top: 1rem;">
      <div class="card-body">
        <h2 class="h5 mb-3">Админ-панель</h2>
        <div class="list-group list-group-flush admin-menu">
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.dashboard') }}">Панель</a>
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.categories') }}">Категории</a>
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.rooms') }}">Номера</a>
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.services') }}">Услуги</a>
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.users') }}">Пользователи</a>
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.reports') }}">Отчёты</a>
          <a class="list-group-item list-group-item-action" href="{{ url_for('admin.database_tools') }}">База данных</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    {% block admin_content %}{% endblock %}
  </div>
</div>
{% endblock %}
